{% extends 'gastos/base.html' %}

{% load humanize %}

{% block content %}

<h1>Gastos</h1>
<!-- Formulario de Filtro (Usa GET, no necesita csrf_token) -->
<form method="get" class="mb-4">
    <label for="mes">Filtrar por mes:</label>
    <select name="mes" id="mes" class="form-select form-select-sm" style="width: auto; display: inline-block;">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>
    
    <!-- Enviamos el año actual como un campo oculto para que no se rompa el filtro -->
    <input type="hidden" name="anio" value="{% now 'Y' %}">
    
    <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
</form>
<hr>
{% if gastos %}
    <ul>
        {% for gasto in gastos %}
            <li><strong>Concepto: </strong>{{ gasto.concepto }} - <strong>Monto: </strong>${{ gasto.monto|intcomma }} - <strong>Fecha: </strong>{{ gasto.fecha|date:"d/m/Y" }}

            </li>
            <a href="{% url 'gasto_update' gasto.pk %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'gasto_delete' gasto.pk %}"class="btn btn-danger">Eliminar</a>
        {% endfor %}
    </ul>
    <h2>Total gastado: ${{ total_gastado|intcomma }}</h2>
    {% else %}
        <p>No has registrado ningún gasto</p>
{% endif %}

{% endblock content %}

